body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin-left:: 10px;
}

h1 {
  font-size: 2em; /* 32px */
  padding-top: 50px;
  font-weight:bold;
  line-height: 120%;
}

h3 {
  font-size: 1.2em; /* 32px */
  padding-top: 20px;
  line-height: 130%;
  font-weight:bold;
}

p {
  padding-top: 10px;
  font-size: 100%; /* 16px */
  line-height: 160%;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right:: 10px;
}

nav {
  background-color: rgb(108, 1, 248);
  float: left;
  position: fixed;
  width: 100%;
}

figcaption {
  background-color: #ffffff;
  float: left;
  width: 100%;
  line-height: 150%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 10%;
}

.medium-pic {
  padding-top: 10px;
  width: 100%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: left;
}

ul {
  list-style-type: none;
  float: left;
}

li {
  float: left;
  padding: 20px;
  margin-top: 50px;
}

article {
  padding-top: 105px;
}

.container {
  margin: 10px;
  width: 60%;
}
