body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em; /* 32px */
  padding-top: 10px;
  font-weight:bold;
  line-height: 120%;
}

h3 {
  font-size: 1.2em; /* 32px */
  padding-top: 20px;
  line-height: 130%;
  font-weight: bold;
}

p {
  padding-top: 10px;
  font-size: 100%; /* 16px */
  line-height: 160%;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

a:hover { color: #a6a6a6; } /* mouse over */

nav {
  background-color: rgb(108, 1, 248);
  position: fixed;
  width: 100%;
}

figcaption {
  background-color: #ffffff;
  width: 100%;
  line-height: 150%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.medium-pic {
  padding-top: 10px;
  width: 100%;
}

.left {
  width: 20%;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  padding: 20px;
}

article {
  padding-top: 105px;
}

.container {
  width: 60%;
  margin-left: 2%;
}
